.roman {
  display: inline-block;
  overflow: hidden;
  padding: 0.25em 0em;
  text-align: center;
  width: 2em;
}

.mmiI {
  background-color: #FFF!important;
  box-shadow: 0 0 .0625em #666;
  color: #000!important;
}

.mmiII {
  background-color: #ACD8E9!important;
  color: #000!important;
}

.mmiIII {
  background-color: #ACD8E9!important;
  color: #000!important;
}

.mmiIV {
  background-color: #83D0DA!important;
  color: #000!important;
}

.mmiV {
  background-color: #7BC87F!important;
  color: #000!important;
}

.mmiVI {
  background-color: #F9F518!important;
  color: #000!important;
}

.mmiVII {
  background-color: #FAC611!important;
  color: #000!important;
}

.mmiVIII {
  background-color: #FA8A11!important;
  color: #000!important;
}

.mmiIX {
  background-color: #F7100C!important;
  color: #000!important;
}

.mmiX {
  background-color: #C80F0A!important;
  color: #000!important;
}
