.pagerlist > .eqitem {
  padding-left: 6em;

  > .value {
    text-align: center;
    width: 5.5em;

    > .pager-alertlevel {
      display: inline-block;
      line-height: 1;
      overflow: hidden;
      padding: 0.125em 0.25em;
      text-overflow: hidden;
      text-shadow: 0.062em 0.062em 0 rgba(255,255,255,0.3);
      white-space: nowrap;
      width: 5em;
    }
  }

  > .row {
    font-size: 0.75em;
  }

  > .row > .aside {
    text-align: right;
  }
}

.pager-alertlevel-pending {
  background-color: #fff;
  color: #000
}

.pager-alertlevel-green {
  background-color: #00b04f!important;
  color: #000!important;
}

.pager-alertlevel-yellow {
  background-color: #ff0!important;
  color: #000!important;
}

.pager-alertlevel-orange {
  background-color: #f90!important;
  color: #000!important;
}

.pager-alertlevel-red {
  background-color: red!important;
  color: #000!important;
}
