@import url('DYFIList.css');

.pagerlist .eqitem {
	padding-left: 80px;
}
.pagerlist .eqitem .value {
	width: 80px;
}
.pagerlist .eqitem .subtitle {
	left: 80px;
}

.pagerlist .eqitem .value > span {
	padding:2px 4px;
	text-shadow:1px 1px 0 rgba(255,255,255,0.3);
}
.pagerlist .eqitem .aside > span {
	padding:1px 3px;
}

.pager-alertlevel-pending{background-color:#fff;color:#000}
.pager-alertlevel-green{background-color:#00b04f!important;color:#000!important}
.pager-alertlevel-yellow{background-color:#ff0!important;color:#000!important}
.pager-alertlevel-orange{background-color:#f90!important;color:#000!important}
.pager-alertlevel-red{background-color:red!important;color:#000!important}